
.btn {
  height: auto;
  &-circle {
    border-radius: 50%;
  }

  &-bd-white {
    border: 1px solid #ffffff;
  }
  &-bg-pink {
    background-color: $btn-pink;
    &:hover {
      background-color: $btn-pink;
    }
  }
  &-fixed {
    width: 160px;
  }
  &-pill-l {
    border-radius: 40px;
    height: auto;
    padding: 20px;
  }
  &-large {
    line-height: 54px !important;
  }

  &-block {
    display: block;
    @media #{$medium-and-up} {
      display: inline-block;
    }
  }
}
