// Custom color


//== Grayscale
$whitesmoke:        darken(color("shades", "white"), 4%); // #f5f5f5
$whitesmoke-dark:   darken(color("shades", "white"), 7%); // #ededed
$light-gray:        darken(color("shades", "white"), 24%); // #C2C2C2
$dark-gray:         darken(color("shades", "white"), 69%); // #4f4f4f
$dark-gray2:        darken(color("shades", "white"), 57.5%); // #6C6C6C


//== red
$red1:              #FC3F73;
$red2:              #F93E72;
$red3:              #FF2859;


//== Blue
$dark-blue:         #124EC2;
$dark-blue2:        #0841BE;
$dark-blue3:        #003292;

//== pink
$pink:              darken(color("pink", "accent-1"), 15.5%); //#ff3177

// =======================================

//== BG
$bg-whitesmoke:     $whitesmoke;
$bg-whitesmoke-dark:$whitesmoke-dark;
$bg-dark-gray:      $dark-gray;

$bg-blue:           $dark-blue;

$bg-gradient1:      $dark-blue;
$bg-gradient2:      $dark-blue3;

$bg-red:            $red2;

//== Border
$border-blue:       $dark-blue2;
$border-light-gray: $light-gray;

//== Button
$btn-pink:          $pink;

//== text
$paragraph:         #4A4A4A;
$link-red:          $red3;

$text-gray-dark:    $dark-gray2;
$logo-red:          $red1;
$logo-blue:         $dark-blue2;

$text-blue-dark:    $dark-blue;
$text-blue:         $dark-blue2;

$icon-blue:         $bg-gradient1;
