.hero {
  @include clearfix();
  background: url("../images/bg.png") repeat, linear-gradient($bg-gradient1, $bg-gradient2);
  position: relative;;
  z-index: 1;
  @media #{$large-and-up} {
    height: 554px;
    margin-top: -64px;
    padding-top: 64px;
    background-image: url("../images/hero.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    min-height: 80vh;
  }
  @media #{$extra-large-and-up} {
    min-height: 90vh;
  }
}
