nav {
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  @media #{$large-and-up} {
    background-color: transparent;
  }
  .material-icons {
    color: $menu-blue; // TODO
  }
  .btn {
    border-radius: 0;
  }
}
.brand-logo {
  .icon-orb {
    color: $logo-blue; // TODO
    margin: 0;
    @media #{$large-and-up} {
      color: #ffffff;
    }
    width: 60px;
    font-size: 24px;
    line-height: 53px;
    &:before { content: '\e800'; }
    &:after {
      content: '\e801';
      font-size: 9px;
      position: relative;
      top: 14px;
      left: -25px;
      color: $logo-red; // TODO
      width: 52px;
    }
  }
  .tag-line {
    @extend .text-m;
    float: left;
    padding-left: 23px;
    margin-top: 12px;
    &:before {
      content: '';
      border-left: 2px solid white;
      height: 22px;
      display: inline-block;
      position: relative;
      top: 5px;
      left: -14px;
    }
  }
}
