/**********************
*                     *
*   Header            *
*                     *
***********************/
nav {
  background-color: #ffffff;
  position: relative;
  @media #{$large-and-up} {
    background-color: transparent;
    z-index: 2;
    ul {
      li {
        a {
          line-height: 52px !important;
          &.btn {
            line-height: 37px !important;
            display: block;
            padding: 0 0 4px;
            margin-top: 5px;
          }
        }
      }
    }
  }
  .material-icons {
    color: $text-blue-dark;
  }
  .btn {
    border-radius: 0;
  }
}
// Mobile nav
.side-nav {
  background: url("../images/bg.png") repeat, linear-gradient($bg-gradient1, $bg-gradient2) !important;
  li {
    > a {
      @extend .text-m;
      line-height: 48px;
    }
  }
}

// Custom logo fron font icon
.brand-logo {
  @media #{$large-and-up} {
    margin-top: -6px;
  }
  .icon-orb {
    color: $logo-blue;
    margin: 0;
    @media #{$large-and-up} {
      color: #ffffff;
    }
    width: 60px;
    font-size: 24px;
    line-height: 53px;
    &:before { content: '\e800'; }
    &:after {
      content: '\e801';
      font-size: 9px;
      position: relative;
      top: 14px;
      left: -21px;
      color: $logo-red;
      width: 52px;
    }
  }
  .tag-line {
    @extend .text-m;
    float: left;
    padding-left: 23px;
    margin-top: 12px;
    &:before {
      content: '';
      border-left: 2px solid #ffffff;
      height: 22px;
      display: inline-block;
      position: relative;
      top: 5px;
      left: -14px;
    }
  }
}
