.subscribe {
  background-color: $bg-whitesmoke-dark;
  form {
    margin-top: 20px;
  }
  input[type=text] {
    height: $input-height;
    border: 1px solid $input-border-color !important;
    font-size: $input-font-size;
    background-color: $input-background;
    padding-left: 10px;
    border-right: 0;
    &:focus {
      border-bottom: 1px solid transparent !important;
     -webkit-box-shadow: 0 1px 0 0 transparent !important;
      box-shadow: 0 1px 0 0 transparent !important;
    }
  }
  .btn {
    border-radius: 0;
    height: 44px;
  }

  .info {
    display: table-cell;
    i {
      display: table-cell;
    }
    p {
      display: table-cell;
      vertical-align: top;
      padding: 17px 20px 0 10px;
      font-size: 14px;
      line-height: 18px
    }
  }
}
