
/**********************
*					  *
*   Typography		  *
*					  *
***********************/

//== Typography mixin
//## Rem converter

@function rem($pixels, $context: $baseFontSize) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1rem;
}

// Base font size creator
@function baseFontSize($size, $font_family: $font-family) {
	@return #{$size}px/#{$size+ 10}px $font_family;
}
// ============================================================

//== Headings
//
//## Global font base including media query
html {
  font-family: $font-family;
	font: baseFontSize($baseFontSize); // 14px/24px
  // @media #{$medium-and-up} {
  //   font: baseFontSize($baseFontSize + 2); // 16px/26px
  // }
}


// h1, h2, h3, h4, h5, h6 {
// 	font-weight: 400;
// 	line-height: 1.1;
// }

// Header Styles
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
p{
	font: baseFontSize($baseFontSize);
	margin: 0 0 10px 0;
	color: $paragraph;
}

h1,h2,h3,h4,h5,h6,p { margin: 0; }
h1,.h1 { font-size: rem($h1-fontsize--m); line-height: rem(47); }
h2,.h2 { font-size: rem($h2-fontsize--m); line-height: rem(42); }
h3,.h3 { font-size: rem($h3-fontsize--m); line-height: rem(35); }
h4,.h4 { font-size: rem($h4-fontsize--m); line-height: rem(31); }
h5,.h5 { font-size: rem($h5-fontsize--m); line-height: rem(28); }
h6,.h6 { font-size: rem($h6-fontsize--m); line-height: rem(16); }

.text-xs { font-size: rem($small-x--m); line-height: rem(14); }
.text-s { font-size: rem($small--m); line-height: rem(24); }
.text-m { font-size: rem($medium--m); line-height: rem(26); }
.text-l { font-size: rem($large--m); line-height: rem(54); }
.text-xl { font-size: rem($xl--m); line-height: rem(60); }
.text-xxl { font-size: rem($xxl--m); line-height: rem(66); }

@media #{$large-and-up} {
	h1,.h1 { font-size: rem($h1-fontsize); line-height: rem(63); }
	h2,.h2 { font-size: rem($h2-fontsize); line-height: rem(54); }
	h3,.h3 { font-size: rem($h3-fontsize); line-height: rem(45); }
	h4,.h4 { font-size: rem($h4-fontsize); line-height: rem(38); }
	h5,.h5 { font-size: rem($h5-fontsize); line-height: rem(28); }
	h6,.h6 { font-size: rem($h6-fontsize); line-height: rem(16); }

	.text-m { font-size: rem($medium); line-height: rem(34); }
	.text-l { font-size: rem($large); line-height: rem(68); }
	.text-xl { font-size: rem($xl); line-height: rem(73); }
	.text-xxl { font-size: rem($xxl); line-height: rem(81); }
}




// Text Styles
em { font-style: italic; }
.tw-ultrabold{font-weight:900;}
.tw-bold{font-weight:700;}
strong { font-weight: 500; }
small { font-size: 90%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }


.tw-normal{ font-weight: 400; }
.tw-light{ font-weight: 300; }

.tt-none { text-transform: none; }
.tt-uper { text-transform: uppercase;}
.material-icons{
  vertical-align:middle;
}

// color
.blue {
  &-icon {
    color: $icon-blue;
  }
	&-text {
		color: $text-blue;
	}
}

.red {
	&-link {
		color: $link-red;
	}
}
